.phonebookContainer {
    background-color: var(--main-background);
    display: flex;
    flex-direction: column;
    border: 1px solid rgba(46, 47, 66, 0.2);
    border-radius: 5px;
    padding: 20px 5px;
    
}